services:
  database:
    image: postgres:16-alpine
    container_name: springfood-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=spring_food_api
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=12345
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data: